<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="namespace" default="my_rov"/>

    <!-- Load the DuckBot URDF model into parameter server -->
	<param name="robot_description" textfile="$(find my_rov)/urdf/my_rov.urdf"/>

    <!-- including the empty underwater world -->
    <include file="$(find uuv_gazebo_worlds)/launch/empty_underwater_world.launch"/>
    <!-- including the launch file to spawn the my rov robot in the world-->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model my_rov -x 0 -y 0"/>

    <include file="$(find uuv_thruster_manager)/launch/thruster_manager.launch">
        <arg name="uuv_name" value="$(arg namespace)" />
        <arg name="model_name" value="rexrov" />
      </include>

	<!-- Robot state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="uuv_thuster_manager" name="wrench_control" type="wrench_control.py" output="screen"/>
    <!-- custom thruster control -->
    <include file="$(find my_rov)/launch/thruster_control.launch"/> 

</launch>